* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  padding: 0;
  margin: 0;
}

/* Header Styles */
header {
  display: flex;
  position: sticky;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  background-color: dodgerblue;
  border-bottom: 1px solid darkblue;
}
header img {
  margin: 5px 0px 5px 10px;
}
.appointment_btn {
  background-color: orange;
  border-radius: 10px;
  border-color: orange;
  color: white;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  vertical-align: auto;
  padding: 10px;
  margin: 5px 0px;
}
header ul {
  display: flex;
  height: 100%;
  margin: 0;
}
header ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-right: 10px;
}
header ul li a {
  text-decoration: none;
  color: white;
  font-size: larger;
  text-align: center;
}
.current {
  background-color: darkblue;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}
header ul li:hover {
  background-color: darkblue;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Footer Styles */
footer {
  display: flex;
  background-color: gray;
  /* justify-content: space-between; */
  color: white;
  padding: 1rem 0.5rem;
}
footer div {
  flex: 1;
}
footer a {
  text-decoration: none;
  color: white;
}
footer ul {
  margin-left: 0.5rem;
}
footer h3 {
  margin-bottom: 0.5rem;
}

/* Showcase */
#showcase {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: darkblue;
}
#showcase h1 {
  font-size: 5rem;
}
#showcase p {
  font-size: 2rem;
  text-align: center;
  margin: 4rem 3rem 0px 3rem;
}

/* Services */
#services{
 background-color: dodgerblue;
 color: white;
 padding: 2rem 5rem 1px 5rem;
}
.service{
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service h1{
  text-align: center;
  font-size: 2.5rem;
}

.service ul{
 font-size: larger;
 line-height: 2rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.service ul li{
  font-size: x-large;
}