* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  padding: 0;
  margin: 0;
  background-color: gray;
}

/* Header Styles */
header {
  display: flex;
  position: sticky;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  background-color: dodgerblue;
  border-bottom: 1px solid darkblue;
}
.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 5px;
  color: white;
}
header img {
  height: 100%;
  margin-right: 5px;
}

.appointment_btn {
  background-color: orange;
  border-radius: 10px;
  border-color: orange;
  color: white;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  vertical-align: auto;
  padding: 10px;
  margin: 5px 0px;
}
header ul {
  display: flex;
  height: 100%;
  width: 30vw;
  margin: 0;
}
header ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-right: 10px;
}
header ul li a {
  text-decoration: none;
  color: white;
  font-size: larger;
  text-align: center;
}
.current {
  background-color: darkblue;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}
header ul li:hover {
  background-color: darkblue;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Footer Styles */
footer {
  display: flex;
  background-color: gray;
  /* justify-content: space-between; */
  color: white;
  padding: 1rem 0.5rem;
}
footer div {
  flex: 1;
}
footer a {
  text-decoration: none;
  color: white;
}
footer ul {
  margin-left: 0.5rem;
}
footer h3 {
  margin-bottom: 0.5rem;
}

/* Showcase */
#showcase {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: darkblue;
  background-color: white;
}
#showcase h1 {
  font-size: 5rem;
}
#showcase p {
  font-size: 2rem;
  text-align: center;
  margin: 4rem 3rem 0px 3rem;
}

/* Services */
#services {
  background-color: dodgerblue;
  color: white;
  padding: 2rem 5rem 1px 5rem;
}
.service {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 0 0 2.5rem 0;
}
.service ul {
  font-size: larger;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0;
  padding: 0;
}
.service p,
.service ul li {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 0;
}

/* Team Section */
#team {
  background-color: dodgerblue;
  color: white;
  padding: 2rem 15rem;
}
#team > h1 {
  margin: 0 0 3rem 0;
  text-align: center;
  font-size: 2rem;
}
#team article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.doctor {
  margin-bottom: 3rem;
}
.doctor img {
  /* height: 100%; */
  width: 5rem;
  background-color: black;
  flex: 1;
  margin-right: 2rem;
}
.doctor > div {
  height: 100%;
  flex: 5;
  margin-right: 2rem;
}

/* Testimonials */
#testimonials {
  padding: 0 10rem;
  background-color: white;
  padding: 2rem 10rem;
}
#testimonials h1 {
  text-align: center;
  margin-top: 0;
  font-size: 2.5rem;
}
.pacient {
  margin: 2rem 2rem 4rem 2rem;
}
.p_name,
.testimonial {
  font-style: italic;
}

/* Contact Form */
#form_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 70vh;
  background-color: white;
  padding: 0 20rem;
}
.form_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.form_item label {
  text-align: left;
  font-weight: bold;
}
.form_item .form_entry {
  margin-left: 2rem;
}
.form_item textarea {
  height: 10rem;
}
